<h1> detail view for one ScoresRow </h1>
<h2> id of selectecd scoresrow: {{ id_of_scoresrow }} </h2>
<h2> self.object:{{ object.snpid }} </h2>
<table>
	<tr> <td> snpid </td>   <td> {{ object.snpid }} </td> </tr>
	<tr> <td> motif </td>   <td> {{ object.motif }} </td> </tr>
	<tr> <td> motif_len</td>   <td> {{ object.motif_len }} </td> </tr>
	<tr> <td>log_lik_ref</td>   <td> {{ object.log_lik_ref }} </td> </tr>
	<tr> <td>log_lik_snp  </td>   <td> {{object.log_lik_snp }} </td> </tr>
	<tr> <td>log_lik_ratio</td>   <td> {{object.log_lik_ratio}} </td> </tr>
	<tr> <td>log_enhance_odds</td>   <td> {{object.log_enhance_odds}} </td> </tr>
	<tr> <td>log_reduce_odds</td>   <td> {{object.log_reduce_odds}} </td> </tr>
	<tr> <td>ref_start</td>   <td> {{object.ref_start}} </td> </tr>
	<tr> <td>snp_start</td>   <td> {{object.snp_start}} </td> </tr>
	<tr> <td>ref_end</td>   <td> {{object.ref_end}} </td> </tr>
	<tr> <td>snp_end</td>   <td> {{object.snp_end}} </td> </tr>
	<tr> <td>ref_strand</td>   <td> {{object.ref_strand}} </td> </tr>
	<tr> <td>snp_strand</td>   <td> {{object.snp_strand}} </td> </tr>
</table>
<a href="{% url 'snpSearchTool:controlset' %}">Back to Lookup </a>
